* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

p{
  font-size: 16px;
  line-height: 28px;
}

/* Login Css */
.login-container{
  margin:0;
  padding:0;
  font-family: verdana;
  /* background: linear-gradient(120deg, #2980b9, #8e44ad); */
  background: #8A2BE2;
  height: 100vh;
  overflow: hidden;
}


.login-container .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}

.login-container .center H1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  color: #8A2BE2;
}


.login-container .center form{
  padding: 0 40px;
  box-sizing: border-box;
}

.login-container form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.login-container .txt_field input{
  width: 100%;
  padding: 0.5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.login-container .txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.login-container .txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #8A2BE2; 
  transition: .5s;
}

.login-container .txt_field input:focus ~ label,
.login-container .txt_field input:valid ~ label{
  top: -5px;
  color: #8A2BE2;
  
}

.login-container .txt_field input:focus ~ span::before,
.login-container .txt_field input:valid ~ span::before{
  width: 100%; 
}

.login-container .pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
  transition: .5s;
}

.login-container .pass:hover{
  text-decoration: underline;
  color: #8A2BE2;
  transition: .5s;
}

.login-container input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #8A2BE2;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: .5s;
}

.login-container input[type="submit"]:hover{
  border:solid 10px #8A2BE2;
  transition: .5s;
}

.login-container .signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666
}

.login-container .signup_link a{
  color: #8A2BE2;
  text-decoration: none;
  transition: .5s;
}

.login-container .signup_link a:hover{
  text-decoration: underline;
  transition: .5s;
  color: #666666;
}